{%- if section.settings.background != settings.background and section.settings.background != 'rgba(0,0,0,0)' -%}
  {%- assign blends_with_background = false -%}
{%- else -%}
  {%- assign blends_with_background = true -%}
{%- endif -%}

<style>
  #shopify-section-{{ section.id }} {
    {%- if section.settings.background == 'rgba(0,0,0,0)' -%}
      {%- assign section_background = settings.background -%}
    {%- else -%}
      {%- assign section_background = section.settings.background -%}
    {%- endif -%}

    {%- if section.settings.text_color == 'rgba(0,0,0,0)' -%}
      {%- assign heading_color = settings.heading_color -%}
      {%- assign text_color = settings.text_color -%}
    {%- else -%}
      {%- assign heading_color = section.settings.text_color -%}
      {%- assign text_color = section.settings.text_color -%}
    {%- endif -%}

    --heading-color: {{ heading_color.red }}, {{ heading_color.green }}, {{ heading_color.blue }};
    --text-color: {{ text_color.red }}, {{ text_color.green }}, {{ text_color.blue }};
    --prev-next-button-background: var(--text-color);
    --prev-next-button-color: var(--section-background);

    --section-background: {{ section_background.red }}, {{ section_background.green }}, {{ section_background.blue }};
  }

  {%- for block in section.blocks -%}
    #block-{{ section.id }}-{{ block.id }} {
      {% if block.settings.text_color == 'rgba(0,0,0,0)' %}
        {%- assign text_color_rgb = '255, 255, 255' -%}
      {%- else -%}
        {%- capture text_color_rgb -%}{{ block.settings.text_color.red }}, {{ block.settings.text_color.green }}, {{ block.settings.text_color.blue }}{%- endcapture -%}
      {%- endif -%}

      --heading-color: {{ text_color_rgb }};
      --text-color: {{ text_color_rgb }};
      --section-block-overlay: {{ block.settings.overlay_color.red }}, {{ block.settings.overlay_color.green }}, {{ block.settings.overlay_color.blue }};
      --section-block-overlay-opacity: {{ block.settings.overlay_opacity | divided_by: 100.0 }};
    }
  {%- endfor -%}

  .collection-list-custom-{{ section.id }} {
    font-size: {{ section.settings.heading_font_desktop }}px !important;
    font-family: "{{ section.settings.heading_font_family }}", sans-serif !important;  
  }

  .collection-list-item-custom-{{ section.id }} p {
    font-size: {{ section.settings.category_font_desktop }}px !important;
    font-family: "{{ section.settings.category_font_family }}", sans-serif !important;
  } 

  .collection-list-item-custom-{{ section.id }} p:first-of-type {
    margin-bottom: {{ section.settings.category_margin }}px !important;
  }

  @media screen and (max-width: 1000px) {
    .collection-list-item-custom-{{ section.id }} p {
      font-size: {{ section.settings.category_font_mobile }}px !important;
    } 

    .collection-list-custom-{{ section.id }} {
      font-size: {{ section.settings.heading_font_mobile }}px !important;
    }
  }
</style>

<section class="section {% unless blends_with_background %}section--flush{% endunless %}">
  <div class="section__color-wrapper">
    <div class="{% unless blends_with_background %}vertical-breather{% endunless %}">
      {%- if section.settings.subheading != blank or section.settings.title != blank -%}
        <header class="section__header container text-container">
          {%- if section.settings.subheading != blank -%}
            <h2 class="heading heading--small">{{ section.settings.subheading | escape }}</h2>
          {%- endif -%}

          {%- if section.settings.title != blank -%}
            <h3 class="heading h2{% if section.settings.custom_font %} collection-list-custom-{{ section.id }}{% endif %}">{{ section.settings.title | escape }}</h3>
          {%- endif -%}
        </header>
      {%- endif -%}

      {%- capture section_content -%}
        <div class="list-collections__item-list league-list">
          {%- for block in section.blocks -%}
            {%- capture collection_content -%}
              {% if block.settings.below_text %}

                {%- if block.settings.title != blank -%}
                  <p class="heading below-text-header {% if settings.heading_text_transform == 'uppercase' %}h4{% else %}h3{% endif %}" {% if section.settings.reveal_on_scroll %}reveal{% endif %}>{{ block.settings.title | escape }}</p>
                {%- endif -%}
                
                {%- if block.settings.subheading != blank -%}
                  <p class="heading heading--small below-text-subheader" {% if section.settings.reveal_on_scroll %}reveal{% endif %}>{{ block.settings.subheading | escape }}</p>
                {%- endif -%}
  
              {% else %}
              
                {%- if block.settings.subheading != blank -%}
                  <p class="heading heading--small" {% if section.settings.reveal_on_scroll %}reveal{% endif %}>{{ block.settings.subheading | escape }}</p>
                {%- endif -%}
  
                {%- if block.settings.title != blank -%}
                  <p class="heading {% if settings.heading_text_transform == 'uppercase' %}h4{% else %}h3{% endif %}" {% if section.settings.reveal_on_scroll %}reveal{% endif %}>{{ block.settings.title | escape }}</p>
                {%- endif -%}
                
              {% endif %}
                
              {%- if block.settings.link_text != blank -%}
                <span class="heading heading--small link" {% if section.settings.reveal_on_scroll %}reveal{% endif %}>{{ block.settings.link_text | escape }}</span>
              {%- endif -%}
            {%- endcapture -%}

            {%- assign collection = block.settings.collection -%}

            <a id="block-{{ section.id }}-{{ block.id }}" href="{{ block.settings.link_url | default: collection.url }}" class="list-collections__item {% if is_highlighted %}list-collections__item--highlight {% if is_shifted %}list-collections__item--shift{% endif %}{% endif %} {% unless block.settings.below_text %}has-overlay{% endunless %} image-zoom" {{ block.shopify_attributes }}>
              <div class="list-collections__item-image-wrapper">
                {%- assign collection_image = block.settings.image | default: collection.featured_image -%}

                {%- if collection_image != blank -%}
                  {%- capture image_sizes -%}(max-width: 740px) calc(100vw - 48px), (max-width: 999px) calc(50vw - 60px), 480px{%- endcapture -%}

                  <style>
                  .custom-height-{{ block.id }} {
                    height: {{ block.settings.custom_height_size_mobile }}px !important;
                  }

                  @media screen and (min-width: 750px) {
                    .custom-height-{{ block.id }} {
                      height: {{ block.settings.custom_height_size }}px !important;
                    }
                  }
                  </style>
                  
                  {%- if collection_image.aspect_ratio > 2.5 -%}
                    {%- assign height_constraint = 800 | at_most: collection_image.height -%}
                    <img class="list-collections__item-image{% if block.settings.custom_height %} custom-height-{{ block.id }}{% endif %}" {% if section.settings.reveal_on_scroll %}reveal{% endif %} loading="lazy" sizes="{{ image_sizes }}" {% render 'image-attributes', image: collection_image, sizes: '200,300,400,500,600,700,800,900,1000,1100,1200,1300,1400', height_constraint: height_constraint, crop: 'center' %}>
                  {%- else -%}
                    {% if forloop.index == 1 %}
                      <img class="list-collections__item-image{% if block.settings.custom_height %} custom-height-{{ block.id }}{% endif %}" src="{{ block.settings.image | img_url: 'master' }}">
                    {% else %}
                      <img class="list-collections__item-image{% if block.settings.custom_height %} custom-height-{{ block.id }}{% endif %}" {% if section.settings.reveal_on_scroll %}reveal{% endif %} loading="lazy" sizes="{{ image_sizes }}" {% render 'image-attributes', image: collection_image, sizes: '200,300,400,500,600,700,800,900,1000,1100,1200,1300,1400,1500,1600,1700,1800' %}>
                    {% endif %}  
                  {%- endif -%}
                {%- else -%}
                  {%- capture collection_image -%}collection-{% cycle '1', '2', '3', '4', '5', '6' %}{%- endcapture -%}

                  {%- if section.settings.reveal_on_scroll -%}
                    {{- collection_image | placeholder_svg_tag: 'list-collections__item-image placeholder-background' | replace: '<svg', '<svg reveal' -}}
                  {%- else -%}
                    {{- collection_image | placeholder_svg_tag: 'list-collections__item-image placeholder-background' -}}
                  {%- endif -%}
                {%- endif -%}
              </div>
            
              {%- if collection_content != blank -%}
                <div class="{% if block.settings.below_text %}category__item-info{% if section.settings.custom_font %} collection-list-item-custom-{{ section.id }}{% endif %} text-container{% else %}list-collections__item-info text-container{% endif %}">
                  {{- collection_content -}}
                </div>
              {%- endif -%}
            </a>
          {%- endfor -%}
        </div>
      {%- endcapture -%}

        <collection-list {% if section.settings.reveal_on_scroll %}reveal-on-scroll{% endif %} class="list-collections list-collections--{{ section.settings.layout }}">
          <div class="container{% if section.settings.two_columns %} no-padding{% endif %}">
            {{- section_content -}}
          </div>
        </collection-list>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "League List",
  "class": "shopify-section--collection-list",
  "blocks": [
    {
      "name": "Collection",
      "type": "collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Grid and carousel modes: 1100 x 1400px .jpg recommended / Collage mode: 1320 x 1480px .jpg recommended (highlighted image) and 1320 x 700px .jpg recommended (normal image)"
        },
        {
          "type": "checkbox",
          "id": "custom_height",
          "label": "Enable Custom Height",
          "default": false
        },
        {
          "type": "range",
          "id": "custom_height_size",
          "label": "Custom Height Size Desktop (in pixels)",
          "min": 100,
          "max": 1000,
          "step": 10,
          "default": 500,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "custom_height_size_mobile",
          "label": "Custom Height Size Mobile (in pixels)",
          "min": 100,
          "max": 500,
          "step": 10,
          "default": 200,
          "unit": "px"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
        {
          "type": "checkbox",
          "id": "below_text",
          "label": "Display Heading and Subheading below",
          "default": false
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link text"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL",
          "info": "If none is set, collection URL is used."
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Overlay",
          "default": "#000000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 30
        }
      ],
    "limit": 3
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "reveal_on_scroll",
      "label": "Reveal on scroll",
      "info": "Show animation when section becomes visible.",
      "default": false
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Subheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "League list"
    },
    {
      "type": "checkbox",
      "id": "custom_font",
      "label": "Custom settings for font size and font family",
      "default": false
    },
    {
      "type": "range",
      "id": "heading_font_desktop",
      "label": "Heading Desktop Font Size",
      "min": 12,
      "max": 80,
      "step": 1,
      "default": 16
    },
    {
      "type": "range",
      "id": "heading_font_mobile",
      "label": "Heading Mobile Font Size",
      "min": 12,
      "max": 80,
      "step": 1,
      "default": 14
    },
    {
      "type": "select",
      "id": "heading_font_family",
      "label": "Heading Font Family",
      "default": "Zurich Extended",
      "options": [
        {
          "value": "Zurich Extended",
          "label": "Zurich Extended"
        },
        {
          "value": "ZurichBT",
          "label": "ZurichBT"
        },
        {
          "value": "Zurich Ultra Black Extended BT",
          "label": "Zurich Ultra Black Extended BT"
        },
        {
          "value": "Armata",
          "label": "Armata"
        },
        {
          "value": "Quantico-Bold",
          "label": "Quantico-Bold"
        },
        {
          "value": "Recoleta-SemiBold",
          "label": "Recoleta-SemiBold"
        }
      ]
    },
    {
      "type": "range",
      "id": "category_font_desktop",
      "label": "Desktop Font Size For Each Block",
      "min": 12,
      "max": 40,
      "step": 1,
      "default": 16
    },
    {
      "type": "range",
      "id": "category_font_mobile",
      "label": "Mobile Font Size For Each Block",
      "min": 12,
      "max": 40,
      "step": 1,
      "default": 14
    },
    {
      "type": "select",
      "id": "category_font_family",
      "label": "Font Family For Each Block",
      "default": "Zurich Extended",
      "options": [
        {
          "value": "Zurich Extended",
          "label": "Zurich Extended"
        },
        {
          "value": "ZurichBT",
          "label": "ZurichBT"
        },
        {
          "value": "Armata",
          "label": "Armata"
        },
        {
          "value": "Quantico-Bold",
          "label": "Quantico-Bold"
        },
        {
          "value": "Recoleta-SemiBold",
          "label": "Recoleta-SemiBold"
        }
      ]
    },
    {
      "type": "range",
      "id": "category_margin",
      "label": "Margin Between Heading and Subheading",
      "min": 1,
      "max": 50,
      "step": 1,
      "default": 10
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "presets": [
    {
      "name": "League list",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}