{% comment %}
<style>
  .collections-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
  }
  .collections-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .collection-container {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .collection-container > img {
    width: 200px;
    height: auto;
  }
</style>
{% if collection.metafields.custom.collections_recomended %}
  <div class="collections-main"> 
    <h2 class="heading h3">
      {% if collection.metafields.custom.colections_title %}
        {{ collection.metafields.custom.colections_title }}
      {% else %}
        Explore {{ collection.title }} Clothing
      {% endif %}
    </h2>
    <div class="collections-container"> 
      {% for collection in collection.metafields.custom.collections_recomended.value %}
        <a href="{{collection.url}}" class="collection-container">
          {% if collection.metafields.custom.subcollection_featured_image != blank %}
          <img src="{{ collection.metafields.custom.subcollection_featured_image }}" alt="">
            {% else %}
            <img src="{{ collection.featured_image | img_url: 'x500' }}" alt="">
          {% endif %}
          {% if collection.title %}
            <span>{{- collection.title }}</span>
          {% endif %}
        </a>
      {% endfor %}
    </div>
  </div>
{% endif %}{% endcomment %}

{% assign collections_metafield = collection.metafields.custom.collections_recomended %}

{% if collections_metafield %}
  {% assign collection_handles = collections_metafield | split: ',' %}
  {% for collection_handle in collection_handles %}
    {% assign collection = collections[collection_handle] %}
    {% if collection %}
      {% render 'collection-list', collection: collection %}
    {% endif %}
  {% endfor %}
{% endif %}


{% schema %}
  {
    "name": "Collection Collections",
    "settings": [],
    "presets": [
      {
        "name": "Collection Collections"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}